This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [ ]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = ''

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [ ]:
# First, import the relevant modules

In [ ]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned

In [ ]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import quandl
import numpy as np
import json

# 1&2

In [ ]:
# I used 3 different ways to get the data file, as a difference 
# the version that was got via "quandl.get" (recommended way on its website) starts from earlier date like the 3rd way, JSON
# but the file in CSV formats starts from the latest date(and I dont know the reason at this moment)

In [52]:
r=quandl.get('FSE/AFX_X')

In [50]:
r.headers

{'Date': 'Mon, 10 Sep 2018 19:02:13 GMT', 'Content-Type': 'text/csv', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Set-Cookie': '__cfduid=d3f00a27f069d5d4d619df12255a7008b1536606131; expires=Tue, 10-Sep-19 19:02:11 GMT; path=/; domain=.quandl.com; HttpOnly', 'Allow': 'GET, HEAD, POST, PUT, DELETE, OPTIONS, PATCH', 'Cache-Control': 'private', 'Content-Disposition': 'attachment; filename=FSE-AFX_X.csv', 'Content-Transfer-Encoding': 'binary', 'ETag': 'W/"d2c64fa0c0045ac64930815e75fe9e8a"', 'Vary': 'Origin, Accept-Encoding', 'X-Content-Type-Options': 'nosniff', 'X-Frame-Options': 'SAMEORIGIN', 'X-Rack-CORS': 'miss; no-origin', 'X-RateLimit-Limit': '50000', 'X-RateLimit-Remaining': '49995', 'X-Request-Id': 'c90ac750-d21f-49e9-bc9a-a2c8013bb3f6', 'X-Runtime': '1.217829', 'X-XSS-Protection': '1; mode=block', 'Expect-CT': 'max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"', 'Server': 'cloudflare', 'CF-RAY': '458425c42ed9c1cc-IAD'}

In [60]:
r.tail()

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2018-09-03,NaN,76.80,75.90,76.50,NaN,105650.0,8083383.0,None,None,NaN
2018-09-04,NaN,76.70,75.60,76.15,NaN,120202.0,9162584.0,None,None,NaN
2018-09-05,NaN,75.95,74.65,75.30,NaN,103213.0,7777480.0,None,None,NaN
2018-09-06,NaN,76.50,74.95,76.15,NaN,92228.0,7026341.0,None,None,NaN
2018-09-07,NaN,76.20,74.45,75.80,NaN,100377.0,7579300.0,None,None,NaN

In [83]:
url='https://www.quandl.com/api/v3/datasets/FSE/AFX_X.csv?api_key=BJZQeKYhiqH3urD2L_2t&start_date=2017-01-01&end_date=2017-12-31'

In [84]:
file=pd.read_csv(url)

In [85]:
file.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,NaN,NaN,NaN
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,NaN,NaN,NaN
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,NaN,NaN,NaN
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,NaN,NaN,NaN
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,NaN,NaN,NaN

In [92]:
file.tail()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
250,2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,NaN,NaN,NaN
251,2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,NaN,NaN,NaN
252,2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,NaN,NaN,NaN
253,2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,NaN,NaN,NaN
254,2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,NaN,NaN,NaN

In [86]:
url2='https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?api_key=BJZQeKYhiqH3urD2L_2t&start_date=2017-01-01&end_date=2017-12-31'

In [87]:
r2=requests.get(url2)

In [88]:
file2=r2.json()

In [ ]:
# Lets check the general information

In [281]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 11 columns):
Date                     255 non-null object
Open                     252 non-null float64
High                     255 non-null float64
Low                      255 non-null float64
Close                    255 non-null float64
Change                   1 non-null float64
Traded Volume            255 non-null float64
Turnover                 255 non-null float64
Last Price of the Day    0 non-null float64
Daily Traded Units       0 non-null float64
Daily Turnover           0 non-null float64
dtypes: float64(10), object(1)
memory usage: 22.0+ KB

# 3- Calculate what the highest and lowest opening prices were for the stock in this period.

In [94]:
print(file.Open.max())

53.11

In [95]:
print(file.Open.min())

34.0

# 4- What was the largest change in any one day (based on High and Low price)?

In [117]:
print((file.High-file.Low).max())

2.8100000000000023

In [ ]:
## And to reach all the information about the related row

In [107]:
file.largest_change_single=file.High-file.Low

In [108]:
file.largest_change_single.sort_values(ascending=False).head(1)

161    2.81
dtype: float64

In [110]:
file.iloc[161]

Date                      2017-05-11
Open                            43.4
High                           46.06
Low                            43.25
Close                             45
Change                           NaN
Traded Volume                 189125
Turnover                 8.49632e+06
Last Price of the Day            NaN
Daily Traded Units               NaN
Daily Turnover                   NaN
Name: 161, dtype: object

# 5- What was the largest change between any two days (based on Closing Price)?

In [ ]:
# Here is the answer as numeric result

In [266]:
np.asarray(list(map(lambda x,y: x-y, file.Close[1:255], file.Close[0:254]))).max()

2.559999999999995

In [ ]:
# let's reach the related rows
# first of all we need the figure out the indexes of these rows. for this purpose, nparray was converted to Series and reindexed from 1 to 255. We started from 1, because our function assigns the results from index 1.

In [259]:
s=pd.DataFrame(np.asarray(list(map(lambda x,y: x-y, file.Close[1:255], file.Close[0:254]))), index=range(1,255,1))

In [257]:
s[0].sort_values(ascending=False).head(1)

99    2.56
Name: 0, dtype: float64

In [ ]:
# so the index-99 and the day before are related rows/dates

In [254]:
file.iloc[98:100]

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
98,2017-08-09,43.5,43.50,41.64,41.81,NaN,355857.0,15003956.0,NaN,NaN,NaN
99,2017-08-08,44.9,45.09,44.15,44.37,NaN,156168.0,6941408.0,NaN,NaN,NaN

# 6- What was the average daily trading volume during this year?

In [273]:
file['Traded Volume'].mean()

89124.33725490196

# 7- (Optional) What was the median trading volume during this year?

In [ ]:
# 1st way

In [282]:
file['Traded Volume'].median()

76286.0

In [ ]:
# 2nd way
# Since we have no "null" value in "Traded Volume" (as we see info at the beginning), we have a single middle value. 
# so we can reach the middle value via iloc, without using any arithmetic function.

In [286]:
file['Traded Volume'].sort_values().iloc[127]

76286.0